# Copy this file to .env and fill in your values
MONGO_URI=mongodb+srv://<user>:<password>@cluster0.example.mongodb.net/database?retryWrites=true&w=majority
ACCOUNTS_CSV=data/accounts.csv
TARGETS_CSV=data/targets.csv
SCHEDULE_INTERVAL_SEC=60
HEADLESS=false
